.button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background-color: $accent;
  border: 2px solid $accent;

  &:hover,
  &:focus {
    background-color: $accent-light;
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.8;
  }

  @media (max-width: $mobile) {
    width: 288px;
  }
}
