.destination-card {
  position: relative;
  display: flex;
  width: 350px;
  min-height: 430px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.destination-card__title {
  @include flex;
  padding: 18px 60px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  background-color: $white;
}

.destination-card__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($darkblue, 0.55);
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}

.destination-card__link-wrap {
  @include flex;
  padding: 30px 25px;
  color: $white;
  border: 1px solid rgba($white, 0.7);
}

.destination-card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  background-color: rgba($regularblue, 0.4);
  overflow: hidden;
  z-index: -1;
}
