.nav {
  @include flex;
  align-items: center;
  color: $darkblue;
}

.nav__logo {
  margin-right: auto;
}

.nav__list {
  @include clear-list;
  @include flex;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}

.nav__list-item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  &:hover,
  &:focus {
    color: $accent;
  }

  &:active {
    color: $accent-interactive;
  }
}

.nav__link--tel {
  margin-left: 70px;
  padding-left: 36px;
  text-decoration: underline;

  &:active {
    text-decoration: none;
  }
}

.nav__button {
  display: none;
}
