.price-card {
  @include flex;
  flex-direction: column;
  padding: 40px 30px 30px;
  border: 1px solid $text-color;
  border-radius: 6px;

  &:hover,
  &:focus-within {
    border-color: $accent;
    outline: 2px solid $accent;

    .price-card__title {
      color: $accent;
    }

    .price-card__list::before {
      background-color: $accent;
    }

    .price-card__list-item::before {
      display: none;
    }

    .price-card__list-item::after {
      display: block;
    }
  }
}

.price-card__title {
  @include flex;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -1.27px;
  color: rgba($darkblue, 0.7);
}

.price-card__price {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
}

.price-card__intro {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 24px;
}

.price-card__list {
  position: relative;
  @include clear-list;
  padding-top: 30px;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba($regularblue, 0.3);
  }
}

.price-card__list-item {
  position: relative;
  padding-left: 30px;
  line-height: 32px;

  &::before,
  &::after {
    position: absolute;
    display: block;
    top: 10px;
    left: 0;
    content: "";
    width: 14px;
    height: 14px;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url("../../img/icons/tick.svg");
    //background-color: $darkblue;
  }

  &::after {
    display: none;
    background-image: url("../../img/icons/tick-focused.svg");
    background-color: $accent;
  }
}

.price-card__button {
  margin-top: auto;
}
