.review {
  position: absolute;
  top: 50%;
  right: 0;
  @include flex;
  margin: auto;
  padding: 30px;
  width: 382px;
  min-width: 367px;
  background-color: $white;
  transform: translateY(-50%);
}

.review__text {
  margin-top: 40px;
  margin-bottom: 35px;
  font-size: 14px;
  letter-spacing: -0.41px;
  color: rgba($regularblue, 0.7);
}

.review__author-wrapper {
  @include flex;
}

.review__author-img {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: $fade-darkblue;
}

.review__author-name {
  font-weight: 500;
  font-style: normal;
}
